html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
*{
  margin: 0;
  padding: 0;
}
body{
  background-color: rgba(6,6,6,1);
}

.maincontainer{
  background: rgb(6,6,6);
  background: linear-gradient(360deg, rgba(6,6,6,1) 32%, rgba(29,65,93,1) 63%, rgba(53,149,194,1) 84%, rgba(218,230,245,1) 100%);
  height: 20000px;
  overflow-x: hidden;
}
@keyframes rotation {
  0% { transform: rotate(0deg);}
  50% { transform: rotate(6deg);}
  100% { transform: rotate(0deg)}
}
@keyframes move{
  0% {transform:translate(0);}
  100% {transform:translate(2500px);}
}
.click{
  margin-left: 45%;
  margin-top: -10%;
  animation: rotation 5s infinite linear;
}
.click img{
  width: 20%;
}
.button:focus{
  outline: 0px;
}
.button{
  background: transparent;
  border: none;
  margin-left: 60%;
  margin-top: -5%;
  position: fixed;
  z-index: 10;
  animation: rotation 3s infinite linear;
}
.sky{
  height: 500px;
}
.clouds{
  width: 100%;
  padding: 5%;
}

.sub{
  margin-left: 60%;
  display: none;
}
.wave{
  width: 110%;
  margin-left: -5%;
  margin-top: -2%;
  z-index: 5;
  animation: rotation 5s infinite linear;
}
.shallow{
  height: 3000px;
}
/*Animate*/
.fish1 img{
  margin-left: 10%;
  width: 30%;
}
.fish1 img.animatefish1{
  animation: move 15s linear infinite;
}

.mid{
  height: 2500px;
}
/*Animate*/
.shark img{
  margin-left: -50%;
  width: 65%;
  z-index: 11;
  position: relative;
  z-index: 11;
  position: relative;
}
.shark img.animateshark{
  animation: move 5s linear infinite;
  animation-direction: reverse;
}

.deepish{
  height: 2000px;
}
/*Animate*/
.fish2 img{
  width: 24%;
  z-index: 11;
  position: relative;
}
.fish2 img.animatefish2{
  margin-left: -20%;
  animation: move 10s linear infinite;
  animation-direction: reverse;
}
.deep{
  height: 5000px;
}
/*Animate*/
.anglr img{
  margin-left: 5%;
  width: 18%;
  position: relative;
  z-index: 20;
}
.anglr img.animateanglr{
  animation: move 10s linear infinite;
}

.bottom{
  height: 1500px;
}
.squid{
  bottom: 0px;
}
.tentfr{
  position: absolute;
  top: 20000px;
  bottom: 0px;
  z-index: 5;
}
.tentbk{
  position: absolute;
  left: 100px;
  top: 20350px;
  bottom: 0px;
  animation: rotation 2s infinite linear;
}
@keyframes fadeIn {

}
.up{
  margin-top: 10%;
  text-align: center;
  animation: fadeIn 1s;
}
.buttonup{
  background: transparent;
  border: none;
}
.buttonup:focus{
  outline: 0px;
}
